{% if label_hidden %}
 {% if multiple %}
<div{{ attributes.addClass(classes, 'field__items') }}>
 {% for item in items %}
  {% set item_html = item.content|render %}
  {% set item_html = item_html|replace({' width="200"': '', ' height="113"': ''}) %}
  {% set item_html = item_html|replace({' width="': ' data-width="', ' height="': ' data-height="'}) %}
  {% set item_html = item_html|replace({'<article class="media media--type-remote-video': '<div class="responsive-video-wrapper"><article class="media media--type-remote-video'}) %}
  {% set item_html = item_html|replace({'</article>': '</article></div>'}) %}
<div{{ item.attributes.addClass('field__item') }}>{{ item_html|raw }}</div>
 {% endfor %}
</div>
 {% else %}
 {% for item in items %}
  {% set item_html = item.content|render %}
  {% set item_html = item_html|replace({' width="200"': '', ' height="113"': ''}) %}
  {% set item_html = item_html|replace({' width="': ' data-width="', ' height="': ' data-height="'}) %}
  {% set item_html = item_html|replace({'<article class="media media--type-remote-video': '<div class="responsive-video-wrapper"><article class="media media--type-remote-video'}) %}
  {% set item_html = item_html|replace({'</article>': '</article></div>'}) %}
<div{{ attributes.addClass(classes, 'field__item') }}>{{ item_html|raw }}</div>
 {% endfor %}
 {% endif %}
{% else %}
<div{{ attributes.addClass(classes) }}>
<div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
 {% if multiple %}
<div class="field__items">
 {% endif %}
 {% for item in items %}
  {% set item_html = item.content|render %}
  {% set item_html = item_html|replace({' width="200"': '', ' height="113"': ''}) %}
  {% set item_html = item_html|replace({' width="': ' data-width="', ' height="': ' data-height="'}) %}
  {% set item_html = item_html|replace({'<article class="media media--type-remote-video': '<div class="responsive-video-wrapper"><article class="media media--type-remote-video'}) %}
  {% set item_html = item_html|replace({'</article>': '</article></div>'}) %}
<div{{ item.attributes.addClass('field__item') }}>{{ item_html|raw }}</div>
 {% endfor %}
 {% if multiple %}
</div>
 {% endif %}
</div>
{% endif %}